@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #171717;
  }
  .text-custom-black {
    color: white !important;
  }
}

svg {
  width: inherit;
  height: inherit;
}

#desktop-market-content {
  display: none;
}

#homepage {
  max-width: 1280px;
  margin: auto;
  padding-top: 2rem;
}

#mobile-market-content {
  display: block;
}

@media (min-width: 768px) {
  #desktop-market-content {
    display: block;
  }

  #homepage {
    padding: 1rem 1rem 2.5rem;
  }

  #mobile-market-content {
    display: none;
  }
}

/* Colors */
/* In case tailwind doesn't work properly */
.text-profit {
  color: #1ccb22 !important;
}

.text-loss {
  color: #ff5a5a !important;
}

.first-td {
  padding: 1.25rem 1.25rem 1.25rem 75px;
}
